<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="FeatureConfiguration" type="Toggles.Configuration.Providers.ConfigurationSection.FeatureConfiguration, Toggler" />
  </configSections>

  <appSettings>
    <add key="FeatureD" value="true"/>
    <add key="FeatureE" value="false"/>
  </appSettings>

  <FeatureConfiguration>
    <Features>
      <add name="FeatureA" isAvailable="true"/>
      <add name="FeatureB" isAvailable="false"/>
      <add name="FeatureC" isAvailable="true" DependsOn="FeatureB"/>
    </Features>
  </FeatureConfiguration>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
